################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Decorator/DecoratorImplementation/bin/Debug/net9.0
/Decorator/DecoratorImplementation/obj/Debug/net9.0
/.vs/DP
