################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Decorator/DecoratorImplementation/bin/Debug/net9.0
/Decorator/DecoratorImplementation/obj/Debug/net9.0
/.vs/DP
/Factory-method/FactoryMethod/obj/Debug/net9.0
/Decorator/DecoratorImplementation/obj/DecoratorImplementation.csproj.nuget.g.props
/Factory-method/FactoryMethod/bin/Debug/net9.0/FactoryImplementation.dll
/Factory-method/FactoryMethod/obj/Debug/net9.0/ref/FactoryImplementation.dll
/Factory-method/FactoryMethod/obj/Debug/net9.0/refint/FactoryImplementation.dll
/Factory-method/FactoryMethod/bin/Debug/net9.0/FactoryImplementation.exe
/Factory-method/FactoryMethod/bin/Debug/net9.0/FactoryImplementation.pdb
/Factory-method/FactoryMethod/obj/Debug/net9.0/apphost.exe
/Factory-method/FactoryMethod/obj/Debug/net9.0/FactoryImplementation.AssemblyInfo.cs
/Factory-method/FactoryMethod/obj/Debug/net9.0/FactoryImplementation.AssemblyInfoInputs.cache
/Factory-method/FactoryMethod/obj/Debug/net9.0/FactoryImplementation.csproj.FileListAbsolute.txt
/Factory-method/FactoryMethod/obj/Debug/net9.0/FactoryImplementation.dll
/Factory-method/FactoryMethod/obj/Debug/net9.0/FactoryImplementation.pdb
